/*Universal*/

html {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 16px;
}

html,
body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

ul li {
list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  opacity: 0.9;
}

a:hover {
  border-bottom: .1rem solid grey;
}

button {
  background-color: #4a4a4a;
  color: white;
  padding: .5rem 2rem;
  font-size: 1.5rem;
  height: 4rem;
  max-width: 80%;
  }

button:hover {
background-color: white;
color: #4a4a4a;
}

h2{
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: bold;
  color: #262626;
  line-height: 1.4;
  letter-spacing: 3;
  margin-top: 2rem;
  margin-bottom: 1rem;
  }

h3 {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(64, 64, 64, 0.9);
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: .5rem;
  }


p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  color: #262626;
  line-height: 1.2;
  letter-spacing: 3;
  margin-bottom: .5rem;
}

/*Header*/

header {
position: fixed;
margin-top: 0;
margin-left: 0;
width: 100%;
height: 3rem;
display: flex;
background-color: white;
z-index: 1;
padding: 1rem 1.5rem;
}

.logo {
display: inline-flex;
height: 2rem;
flex-grow: 1;
align-items: center;
justify-content: flex-start;
padding: 1rem 1.5rem;
}

.logo img{
  height: 2rem;
  width: 2rem;
}

.logo span {
  font-size: 1.5rem;
  }

.logo #dark {
  color: #666666;
  opacity: 0.95;
  font-weight: 600;
  font-family: "Roboto"
}

.logo #light {
  color: #999999;
  font-family: "Roboto";
  opacity: 0.90;
}

nav li{
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  }

.small {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0 auto;
  position: absolute;
  width: 100%;
  }

.banner {
  display: flex;
  flex-direction: row;
  background-color: rgba(204, 204, 204, 0.75);
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-position: cover;
  }

.image {
  width: 60%;
  height: 100%;
  padding: 2rem 1.5rem;
  flex-shrink: 1;
}

.image img {
  max-width: 95%;
  height: auto;
 }


.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  width: 40%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  }

.start h1{
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Roboto";
  color: #404040;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.start span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto";
  color: #595959;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

/*Section information*/

.about {
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 240, 240, 0.7);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.practicing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding-top: 2rem;
  padding-left: 1.5rem;
  height: auto;
  flex-shrink: 1;
}

.practicing img {
  max-width: 95%;
  height: auto;
}

#author {
  font-family: "Helvetica";
  font-size: 1.2rem;
  font-weight: 550;
  color: #1a1a1a;
  opacity: 0.8;
  line-height: 1.2;
  padding-bottom: 2rem; 
  padding-top: 2rem
}


.information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 40%;
  height: auto;
  }

.orientation,
.campus,
.lecture {
  display:inline-flex;
  flex-direction: row;
  max-height: 30%;
  width: 100%;
  justify-content: center;
  }

.orientation:hover,
.campus:hover,
.lecture:hover {
background-color: rgba(166, 166, 166, 0.5);
background-repeat: no-repeat;
}


.orientation-picture,
.campus-picture,
.lecture-picture {
  width: 35%;
  padding: 2rem 1rem;
  }

.orientation-picture img,
.campus-picture img,
.lecture-picture img {
  max-width: 95%;
  height: auto;
  }

.campus-info,
.lecture-info,
.orientation-info {
  display: flex;
  width: 65%;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 1rem auto 1rem 2rem;
}

#more {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-weight: 700;
  color: #6699ff;
  line-height: 1.2;
  letter-spacing: 3;
  padding-bottom: 2rem;
}

#more:hover {
  opacity: 50%;
  font-weight: 500;
}

.learning {
  background-color: rgba(217, 217, 217, 0.9);
  width: 100%;
  margin-left: 0;
  background-repeat: no-repeat;
}

.learning h2 {
  text-align: center;
  padding-top: 2rem;
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 700;
  color: #404040;
  line-height: 1.4;
  letter-spacing: 3;
  }

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  align-content: space-between;
}

.software,
.computer,
.design,
.data,
.marketing,
.business {
  display: flex;
  flex-direction: column;
  max-width: 27%;
  background-color: white; 
  margin-bottom: 2rem; 
  margin-right: 2rem;
  padding-bottom: 1rem;
}  


.software img,
.computer img,
.design img,
.data img,
.marketing img,
.business img {
  width: 100%;
  height: 45%;
  }

.courses h3,
.courses span,
.courses p {
  text-align: left;
  padding-left: 1rem;
  padding-top: .5rem
}


.courses h3 {
  padding-top: .5rem;
}

.courses p {
  padding-top: .5rem;
}

.courses span,
.courses p {
  font-family: "Roboto"
  font-weight: 700;
  font-size: 1.25rem;
  color: rgba(77, 77, 77, 0.8);
  letter-spacing: 1.5;
  line-height: 1.2;
}
  
.last-section {
  background-color: rgba(240, 240, 240, 0.7);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.last-section h2 {
  text-align: center;
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 700;
  color: #404040;
  line-height: 1.4;
  letter-spacing: 3;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.last-section p {
  text-align: left;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #404040;
  opacity: 0.7;
  line-height: 1.4;
  letter-spacing: 3;
  padding-bottom: 2rem;
}

.thesis {
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.thesis-exhibit {
  display: flex;
  flex-direction: column;
  width: 60%;
  flex-shrink: 2;
  flex-wrap: wrap;
}

.video {
 max-width: 95%;
 padding-right: 1rem;
 justify-content: flex-start;
 flex-shrink: 1;
}

.fisma {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  height: auto;
 }

.thesis-fisma {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(191, 191, 191);
  margin-top: 2rem;
  max-height: 33%;
  }

.thesis-image,
.study-image {
  max-width: 35%;
  max-height: 100%;
  padding: 1rem;
}

.thesis-image img,
.study-image img {
  width: 100%;
  height: auto;
}

.prototype,
.research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 65%;
}

 .prototype h4,
 .research h4 {
  text-align: left;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: bold;
  color: #404040;
  line-height: 1.3;
  letter-spacing: 1.5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.prototype p
.research p {
  text-align: left;
  font-family: "Roboto";
  font-size: 1.3rem;
  color: #404040;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 3;
}

.study {
 display: flex;
 flex-direction: row;
 margin-top: 2rem;
  align-items: center;
  max-width: 100%;
  max-height: 70%;
}


footer {
  height: 5rem;
  display: inline-flex;
  background-color: rgba(240, 240, 240, 0.7);
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 1.1rem;
  padding-left: 1.5rem;
  border-top: .1rem solid lightgray;

}

footer span {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  opacity: 0.9;
  flex-grow: 1;
}

footer li {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 2rem;
}